/*** App Overall Structure ***/
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    // align-self: center;

    width: 100%;
    height: 100%;
}

.wrapper {
    padding: 2rem;
    width: 80%;

    background-color: azure;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left,
.right {
    margin: 1em;
}