/*** App Overall Structure ***/
.app {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.wrapper {
    padding: 1em;
    background-color: azure;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-top: .5em;
}

.left,
.right {
    margin: 1em;
}