### Node ###

# Test
/.jest_cache
/coverage

# Logs
/logs
**/logs

# Dependency
/node_modules
**/node_modules
/jspm_packages
/bower_components
/.pnp
.pnp.js

# Production related
/dist
**/dist
/build
**/build

# Garbage one
/.temp
/docs
**/docs




