# logs
logs/
**/logs/
*.log

# dependency directories
node_modules/
**/node_modules/

# typeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env

# build / generated output
dist/
**/dist/
build/
**/build/

# macOS folder
.DS_Store

# VSCODE folder
.vscode/

# other folders
temp/*
data/*

